/* Canvas styling to cover full screen behind the content */
.background-canvas {
  position: fixed; /* Keeps it fixed behind content */
  top: 0;
  left: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  z-index: -1; /* Behind the content */
  pointer-events: none; /* Allow clicks and interactions to pass through */
}

/* Styling for the rest of the hero content */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
  background: linear-gradient(120deg, rgba(42, 42, 42, 0.5), rgba(29, 29, 29, 0.5)); /* Gradient with transparency */
  position: relative; /* Ensure it sits above the canvas */
}

.content {
  max-width: 600px;
  padding-left: 5px;
}

.content h1 {
  font-size: 3rem;
  margin-left: 0.5rem;
}

.content p {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.profileimage img {
  height: 60vh;
  width: auto;
  border-radius: 50%;
  border: 5px solid #fff;
  margin-right: 0.5rem;
}

.wave {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.wave:hover {
  transform: scale(1.3);
}

/* Ensure responsive layout on smaller screens */
@media (max-width: 768px) {
  .footer-socials {
    flex-direction: column;
    gap: 15px;
  }

  .profileimage img {
    height: 25vh;
    margin-right: 12px;
  }
}